.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureIconWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.featureIcon {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--ifm-color-primary);
}
