/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  padding: 6rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  background-image: url('/img/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.heroDescription {
  max-width: 700px;
  color: #1e293b; /* Tailwind's slate-800 */
  margin: 0 auto 2rem;
  font-size: 1.2rem;
  opacity: 0.8;
}

.heroSubtitle {
  color: #475569; /* Tailwind's slate-800 */
  font-size: 1.2rem;
  font-weight: 500;
  max-width: 800px;
}

.heroTitle {
  color: #1e293b; /* Tailwind's slate-800 */
  font-weight: 600;
}

.mainButton {
  background-color: #475569; /* slate-600 */
  color: #fff;
  font-weight: 600;
  font-weight: 600;
  font-size: 1rem;
  min-width: 170px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainButton:hover {
  background-color: #334155; /* slate-700 */
}

.secondaryButton {
  background-color: #f3f4f6; /* gray-200 */
  color: #1f2937; /* dark text for contrast */
  font-size: 1rem;
  font-weight: 600;
  min-width: 170px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondaryButton:hover {
  background-color: #e5e7eb; /* gray-300 */
  color: #1f2937; /* dark text for contrast */
}

.heroContainer {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}