{
  "openapi": "3.1.0",
  "info": {
    "title": "Captide REST API",
    "description": "API for accessing financial disclosures and AI-powered financial document analysis.",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://rest-apidev.captide.co",
      "description": "Development server"
    }
  ],
  "paths": {
    "/api/v1/companies/list": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "List companies",
        "description": "Retrieves a list of companies from the Captide database that match user-specified parameters. The response includes key company information such as name, ticker symbol(s) with exchange suffixes, country of domicile, SEC filing status, and the unique company ID assigned by Captide.",
        "operationId": "list_companies_api_v1_companies_list_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "tickers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated list of company tickers (supports both base tickers like 'ITX' and suffixed tickers like 'ITX.MC')",
              "title": "Tickers"
            },
            "description": "Comma-separated list of company tickers (supports both base tickers like 'ITX' and suffixed tickers like 'ITX.MC')",
            "example": "AAPL,ITX.MC"
          },
          {
            "name": "countries",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated list of country codes (ISO 3166-1 alpha-2)",
              "title": "Countries"
            },
            "description": "Comma-separated list of country codes (ISO 3166-1 alpha-2)",
            "example": "US,CA"
          },
          {
            "name": "filesWithSec",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter companies by SEC filing status",
              "title": "Fileswithsec"
            },
            "description": "Filter companies by SEC filing status",
            "example": true
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated list of company IDs",
              "title": "Ids"
            },
            "description": "Comma-separated list of company IDs",
            "example": "123e4567-e89b-12d3-a456-426614174000,987fcdeb-51a2-43d1-b789-123456789abc"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 1000,
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum number of records to return",
              "default": 100,
              "title": "Limit"
            },
            "description": "Maximum number of records to return",
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Successful list results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyListResponse"
                  },
                  "title": "Response List Companies Api V1 Companies List Get"
                },
                "example": [
                  {
                    "id": "91f6c6da-478f-4161-b451-aa5177cc7fb9",
                    "name": "Apple Inc.",
                    "tickers": [
                      "AAPL"
                    ],
                    "countries": [
                      "US"
                    ],
                    "filesWithSec": true
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Invalid filter parameters"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{id}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get company by ID",
        "description": "Retrieves a single company from the Captide database by its unique ID. The response includes key company information such as name, ticker symbol(s) with exchange suffixes, country of domicile, and SEC filing status.",
        "operationId": "get_company_api_v1_companies__id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful company retrieval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyListResponse"
                },
                "example": {
                  "id": "91f6c6da-478f-4161-b451-aa5177cc7fb9",
                  "name": "Apple Inc.",
                  "tickers": [
                    "AAPL"
                  ],
                  "countries": [
                    "US"
                  ],
                  "filesWithSec": true
                }
              }
            }
          },
          "404": {
            "description": "Company not found"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/documents/list": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "List documents",
        "description": "Retrieves a list of financial and corporate disclosures available in Captide that match user-specified parameters. The response includes key document metadata such as the associated company's ticker symbol(s), document type, release date, fiscal year and quarter, the Captide-assigned document ID, and the associated company ID.",
        "operationId": "list_documents_api_v1_documents_list_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "tickers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated list of company tickers",
              "title": "Tickers"
            },
            "description": "Comma-separated list of company tickers",
            "example": "AAPL,AMZN"
          },
          {
            "name": "documentCategories",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated list of document categories",
              "title": "Documentcategories"
            },
            "description": "Comma-separated list of document categories",
            "example": "annual-report,interim-report"
          },
          {
            "name": "formTypes",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated list of form types",
              "title": "Formtypes"
            },
            "description": "Comma-separated list of form types",
            "example": "10-K,10-Q"
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The start date (ISO 8601)",
              "title": "Startdate"
            },
            "description": "The start date (ISO 8601)",
            "example": "2024-12-12T15:00:00Z"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The end date (ISO 8601)",
              "title": "Enddate"
            },
            "description": "The end date (ISO 8601)",
            "example": "2025-01-10T13:00:00Z"
          },
          {
            "name": "companyIds",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated list of company IDs",
              "title": "Companyids"
            },
            "description": "Comma-separated list of company IDs",
            "example": "123e4567-e89b-12d3-a456-426614174000,987fcdeb-51a2-43d1-b567-537725285111"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 1000,
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum number of records to return",
              "default": 100,
              "title": "Limit"
            },
            "description": "Maximum number of records to return",
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Document list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentListResponse"
                  },
                  "title": "Response List Documents Api V1 Documents List Get"
                },
                "example": [
                  {
                    "documentId": "98381fbb-8d8c-4b47-b31c-819f8aca0690",
                    "documentCategory": "interim-report",
                    "secFormType": null,
                    "tickers": [
                      "STO.AX"
                    ],
                    "companyName": "Santos",
                    "documentDate": "2025-04-17",
                    "fiscalQuarter": 1,
                    "fiscalYear": 2025,
                    "title": "First Quarter Report for period ending 31 March 2025",
                    "description": "This document is the First Quarter Report of Santos Limited for the period ending 31 March 2025. It provides a detailed overview of the company's operational and financial performance, including production volumes, sales, revenue, capital expenditure, project updates, and guidance for 2025."
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Invalid filter parameters"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/documents/{id}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get document by ID",
        "description": "Fetch a document by its ID from the database, including company and ticker info.\n    \n    This endpoint returns complete document details including metadata, file URLs,\n    and associated company information.",
        "operationId": "get_document_by_id_api_v1_documents__id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Document ID",
              "title": "Id"
            },
            "description": "Document ID",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        ],
        "responses": {
          "200": {
            "description": "Document found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                },
                "example": {
                  "documentId": "98381fbb-8d8c-4b47-b31c-819f8aca0690",
                  "documentCategory": "interim-report",
                  "secFormType": null,
                  "tickers": [
                    "STO.AX"
                  ],
                  "companyName": "Santos",
                  "documentDate": "2025-04-17",
                  "fiscalQuarter": 1,
                  "fiscalYear": 2025,
                  "originalFileUrl": "https://files.captide.co/original-docs/77848abe-a215-41b7-8950-86e89ea1fadc/2025-Santos-First-Quarter-Report.pdf?se=2025-07-28T17%3A33%3A51Z&sp=r&sv=2025-07-05&sr=b&sig=B6JuHmW4Yoif5tMJItatav/Vwe9IzOoqSaHs%2BZEwbDk%3D",
                  "markdownFileUrl": "https://files.captide.co/markdown-docs/77848abe-a215-41b7-8950-86e89ea1fadc/2025-Santos-First-Quarter-Report.md?se=2025-07-28T17%3A33%3A51Z&sp=r&sv=2025-07-05&sr=b&sig=umdy9HFMwQykzafdb62ZQAXF/4OXJHKM9Py0dfd2wuA%3D"
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/rag/chunks": {
      "post": {
        "tags": [
          "Retrieval Augmented Generation"
        ],
        "summary": "Search document chunks",
        "description": "Search for relevant document chunks based on a query. Under the hood, Captide's RAG system uses a combination of LLMs and vector databases to find the most relevant chunks of text from corporate disclosures that are most relevant to the query.\n    This endpoint returns chunks of text from corporate disclosures that are most relevant to the query, along with metadata about their source documents. This endpoint is useful for building search interfaces or retrieving specific content from documents.",
        "operationId": "search_chunks_api_v1_rag_chunks_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The natural language query",
              "title": "Query"
            },
            "description": "The natural language query",
            "example": "What was Apple's revenue in 2023?"
          }
        ],
        "responses": {
          "200": {
            "description": "Chunks found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChunksResponse"
                },
                "example": {
                  "relevantChunks": [
                    {
                      "content": "# Comprehensive Income\n\n| USGAAP | Unnamed: 1 | Unnamed: 2 | Unnamed: 3 |\n| --- | --- | --- | --- |\n| Please note: The content of this file is qualified in its entirety by reference to the electronic version of the ASML 2024 Annual Report based on US GAAP and therefore: (i) your local (browser and/or mobile device) settings can influence the way this table and its content is being displayed and (ii) (foot)notes have been deleted for reader's convenience. | nan | nan | nan |\n| nan | nan | nan | nan |\n| Always refer to the electronic version of the ASML 2024 Annual Report based on US GAAP for the full and official financial information. | nan | nan | nan |\n| nan | nan | nan | nan |\n| Consolidated Statements of Comprehensive Income for the years ended December 31, 2022, 2023 and 2024 | nan | nan | nan |\n| nan | nan | nan | nan |\n| Year ended December 31 (€, in millions) | 2022.0 | 2023.0 | 2024.0 |\n| Net income | 5624.2 | 7839.0 | 7571.6 |\n| nan | nan | nan | nan |\n| Other comprehensive income (OCI): | nan | nan | nan |\n| Proportionate share of OCI from equity method investments | 37.7 | 0.2 | -12.1 |\n| nan | nan | nan | nan |\n| Foreign currency translation, net of taxes: | nan | nan | nan |\n| Gain (loss) on foreign currency translation | 66.0 | -68.3 | 91.9 |\n| nan | nan | nan | nan |\n| Financial instruments, net of taxes: | nan | nan | nan |\n| Gain (loss) on derivative financial instruments | 57.6 | -15.8 | 38.2 |\n| Transfers to net income | -66.5 | 0.6 | -8.9 |\n| Other comprehensive income, net of taxes | 94.8 | -83.3 | 109.1 |\n| nan | nan | nan | nan |\n| Total comprehensive income, net of taxes | 5719.0 | 7755.7 | 7680.7 |\n| Attributable to equity holders | 5719.0 | 7755.7 | 7680.7 |",
                      "pageNumber": 2,
                      "excerpt": null,
                      "documentMetadata": {
                        "documentId": "2dfd0c2a-fb6d-486a-ad62-3b1830eb30bf",
                        "documentCategory": "annual-report",
                        "formType": null,
                        "date": "2024-12-31",
                        "description": "This document contains the consolidated financial statements of ASML for the years ended December 31, 2022, 2023, and 2024, including statements of operations, comprehensive income, balance sheets, shareholders' equity, and cash flow statements prepared under US GAAP.",
                        "fiscalQuarter": 4,
                        "fiscalYear": 2024,
                        "companyName": "ASML HOLDING NV",
                        "tickers": [
                          "ASML",
                          "ASML.AS"
                        ],
                        "metadata": null
                      }
                    },
                    ...
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/rag/agent-response": {
      "post": {
        "tags": [
          "Retrieval Augmented Generation"
        ],
        "summary": "Get agent response",
        "description": "Returns cited Markdown responses, sourced exclusively from corporate disclosures, in response to natural language queries.\n    This endpoint provides AI-generated answers with proper citations to source documents, making it ideal for building Q&A interfaces or research tools.",
        "operationId": "agent_response_api_v1_rag_agent_response_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The natural language query",
              "title": "Query"
            },
            "description": "The natural language query",
            "example": "What was Apple's revenue in 2023?"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent response generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                },
                "example": {
                    "content": "Zscaler's net dollar retention rates for the last two quarters are as follows:\n\n- Q3 2025 (trailing 12 months ended April 30, 2025): **114%**  \n- Q2 2025 (trailing 12 months ended January 31, 2025): **115%**  \n\nThese figures reflect Zscaler's ability to retain and expand recurring revenue from existing customers over the respective periods [#eaf60040].",
                    "sourceMap": {
                      "#eaf60040": {
                        "content": "### We calculate our dollar-based net retention rate as follows:\n\nTable of Contents\nInvesting in Business Growth\nSince our founding, we have invested significantly in growing our business. We intend to continue (i) investing in our\nresearch and development organization and our development efforts to offer new solutions on our cloud platform and (ii)\ndedicating resources to update and upgrade our existing solutions. In addition, we expect our general and administrative expenses\nto increase in absolute dollars in the foreseeable future, as we continue to operate as a public company, and address any legal\nmatters and related accruals, as further described in Note 10, Commitments and Contingencies, of the unaudited condensed\nconsolidated financial statements included elsewhere in this Quarterly Report on Form 10-Q.\nWe also intend to continue to invest significantly in sales and marketing to grow and train our sales force, broaden our brand\nawareness and expand and deepen our channel partner relationships. While these planned investments will increase our operating\nexpenses in the short term, we believe that over the long term these investments will help us to expand our customer base and\ngrow our business. We also are investing in programs to increase recognition of our brand and solutions, including joint marketing\nactivities with our channel partners and strategic partners.\nWhile we expect our operating expenses to increase in absolute dollars in the foreseeable future as a result of these\nactivities, we intend to balance these investments in future growth with a continued focus on managing our results of operations\nand investing judiciously. In the long term we anticipate that these investments will positively impact our business and results of\noperations.\nKey Business Metrics and Other Financial Measures\nWe review a number of operating and financial metrics, including the following key metrics, to measure our performance,\nidentify trends, formulate business plans and make strategic decisions.\nDollar-Based Net Retention Rate\nWe believe that dollar-based net retention rate is an indicator to measure the long-term value of our customer relationships\nbecause it is driven by our ability to retain and expand the recurring revenue generated from our existing customers. Our dollar-\nbased net retention rate compares the recurring revenue from a set of customers against the same metric for the prior 12-month\nperiod on a trailing basis. Because our customers have repeat buying patterns and the average term of our contracts is more than\n12 months, we measure this metric over a set of customers who were with us as of the last day of the same reporting period in the\nprior fiscal year. For the trailing 12 months ended January 31, 2025 and 2024, the dollar-based net retention rate was 115% and\n117%, respectively.\nWe calculate our dollar-based net retention rate as follows:\nDenominator: To calculate our dollar-based net retention rate as of the end of a reporting period, we first establish the ARR\nfrom all active subscriptions as of the last day of the same reporting period in the prior fiscal year. This effectively represents\nrecurring dollars that we expect in the next 12-month period from the cohort of customers that existed on the last day of the same\nreporting period in the prior fiscal year.\nNumerator: We measure the ARR for that same cohort of customers representing all subscriptions based on confirmed\ncustomer orders booked by us as of the end of the reporting period.\nDollar-based net retention rate is obtained by dividing the numerator by the denominator.",
                        "pageNumber": 41,
                        "excerpt": "For the trailing 12 months ended January 31, 2025 and 2024, the dollar-based net retention rate was 115% and 117%, respectively.",
                        "documentMetadata": {
                          "documentId": "eaf63939-0da6-4fc7-ba06-adbd46e546a9",
                          "documentCategory": "interim-report",
                          "formType": null,
                          "date": "2025-03-10",
                          "description": "This document is the Form 10-Q quarterly report filed by Zscaler, Inc. for the second fiscal quarter ended January 31, 2025. It includes unaudited condensed consolidated financial statements such as balance sheets, statements of operations, comprehensive loss, stockholders' equity, and cash flows. The report also contains management's discussion and analysis of financial condition and results of operations, quantitative and qualitative disclosures about market risk, controls and procedures, legal proceedings, risk factors, unregistered sales of equity securities, use of proceeds, and exhibits. The filing provides detailed financial data, forward-looking statements, and regulatory compliance information for the quarter.",
                          "fiscalQuarter": 2,
                          "fiscalYear": 2025,
                          "companyName": "Zscaler, Inc.",
                          "tickers": [
                            "ZS"
                          ],
                          "metadata": null
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/rag/agent-response-stream": {
      "post": {
        "tags": [
          "Retrieval Augmented Generation"
        ],
        "summary": "Stream agent response",
        "description": "Streams cited Markdown responses, sourced exclusively from corporate disclosures, as server-sent events in response to natural language queries. This endpoint provides real-time streaming of AI-generated answers, making it ideal for interactive chat interfaces where users can see responses as they're generated.\n    \n    **Server-Sent Events (SSE) Structure:**\n    \n    - **`event: thinking`** - Agent's thinking process with stage information\n      - `data: {\"type\": \"message\", \"role\": \"assistant\", \"content\": \"...\", \"stage\": \"searchd\"}`\n    \n    - **`event: message`** - Content chunks and warnings\n      - `data: {\"type\": \"message\", \"role\": \"assistant\", \"content\": \"...\"}` - Response content chunks\n      - `data: {\"type\": \"warning\", \"message\": \"...\"}` - Warning when no documents found\n    \n    - **`event: message/partial`** - Partial response content (streaming)\n      - `data: {\"type\": \"message\", \"role\": \"assistant\", \"content\": \"...\"}`\n    \n    - **`event: metadata`** - Source document information\n      - `data: {\"type\": \"sources\", \"content\": {\"#ref_id\": {\"content\": \"...\", \"pageNumber\": 123, \"excerpt\": \"...\", \"documentMetadata\": {\"documentId\": \"...\", \"documentCategory\": \"...\", \"formType\": \"...\", \"tickers\": [\"...\"], \"companyName\": \"...\", \"date\": \"...\", \"fiscalQuarter\": 1, \"fiscalYear\": 2025}}}}}` - Document sources and citations\n    \n    - **`event: done`** - Stream completion\n      - `data: {}`",
        "operationId": "agent_response_stream_api_v1_rag_agent_response_stream_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The natural language query",
              "title": "Query"
            },
            "description": "The natural language query",
            "example": "What was Apple's revenue in 2023?"
          }
        ],
        "responses": {
          "200": {
            "description": "Stream started successfully",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "example": \"event: thinking\ndata: {\\\"type\\\": \\\"message\\\", \\\"role\\\": \\\"assistant\\\", \\\"content\\\": \\\"I'm going to look through 2 documents from Zscaler, Inc.: To determine ZScaler's net dollar retention for the last two quarters, we need to consult the most recent interim reports, as these documents typically contain detailed financial metrics including net dollar retention. The last two quarters correspond to Q2 and Q3 of fiscal year 2025, which are covered by documents 3 and 6 respectively.\\\", \\\"stage\\\": \\\"search\\\"}\n\n\"event: thinking\ndata: {\\\"type\\\": \\\"message\\\", \\\"role\\\": \\\"assistant\\\", \\\"content\\\": \\\"I'm now analyzing 2 documents to find the most relevant information...\\\", \\\"stage\\\": \\\"document_inspection\\\"}\n\n\"event: thinking\ndata: {\\\"type\\\": \\\"message\\\", \\\"role\\\": \\\"assistant\\\", \\\"content\\\": \\\"I found 5 relevant pages from Zscaler, Inc.\\\", \\\"stage\\\": \\\"document_inspection\\\"}\n\n\"event: message/partial\ndata: {\\\"type\\\": \\\"message\\\", \\\"role\\\": \\\"assistant\\\", \\\"content\\\": \\\"Z\\\"}\n\n\"event: message/partial\ndata: {\\\"type\\\": \\\"message\\\", \\\"role\\\": \\\"assistant\\\", \\\"content\\\": \\\"sc\\\"}\n\n\"event: message/partial\ndata: {\\\"type\\\": \\\"message\\\", \\\"role\\\": \\\"assistant\\\", \\\"content\\\": \\\"aler\\\"}\n\n\"event: message/partial\ndata: {\\\"type\\\": \\\"message\\\", \\\"role\\\": \\\"assistant\\\", \\\"content\\\": \\\"'s\\\"}\n\n...\n\n\"event: message/partial\ndata: {\\\"type\\\": \\\"message\\\", \\\"role\\\": \\\"assistant\\\", \\\"content\\\": \\\"].\\\"}\n\n\"event: metadata\ndata: {\\\"type\\\": \\\"sources\\\", \\\"content\\\": {\\\"#207d0044\\\": {\\\"content\\\": \\\"### We calculate our dollar-based net retention rate as follows:\\\\n\\\\nTable of Contents\\\\nInvesting in Business Growth\\\\nSince our founding, we have invested significantly in growing our business. We intend to continue (i) investing in our\\\\nresearch and development organization and our development efforts to offer new solutions on our cloud platform and (ii)\\\\ndedicating resources to update and upgrade our existing solutions. In addition, we expect our general and administrative expenses\\\\nto increase in absolute dollars in the foreseeable future, as we continue to operate as a public company, and address any legal\\\\nmatters and related accruals, as further described in Note 11, Commitments and Contingencies, of the unaudited condensed\\\\nconsolidated financial statements included elsewhere in this Quarterly Report on Form 10-Q.\\\\nWe also intend to continue to invest significantly in sales and marketing to grow and train our sales force, broaden our brand\\\\nawareness and expand and deepen our channel partner relationships. While these planned investments will increase our operating\\\\nexpenses in the short term, we believe that over the long term these investments will help us to expand our customer base and\\\\ngrow our business. We also are investing in programs to increase recognition of our brand and solutions, including joint marketing\\\\nactivities with our channel partners and strategic partners.\\\\nWhile we expect our operating expenses to increase in absolute dollars in the foreseeable future as a result of these\\\\nactivities, we intend to balance these investments in future growth with a continued focus on managing our results of operations\\\\nand investing judiciously. In the long term we anticipate that these investments will positively impact our business and results of\\\\noperations.\\\\nKey Business Metrics and Other Financial Measures\\\\nWe review a number of operating and financial metrics, including the following key metrics, to measure our performance,\\\\nidentify trends, formulate business plans and make strategic decisions.\\\\nDollar-Based Net Retention Rate\\\\nWe believe that dollar-based net retention rate is an indicator to measure the long-term value of our customer relationships\\\\nbecause it is driven by our ability to retain and expand the recurring revenue generated from our existing customers. Our dollar-\\\\nbased net retention rate compares the recurring revenue from a set of customers against the same metric for the prior 12-month\\\\nperiod on a trailing basis. Because our customers have repeat buying patterns and the average term of our contracts is more than\\\\n12 months, we measure this metric over a set of customers who were with us as of the last day of the same reporting period in the\\\\nprior fiscal year. For the trailing 12 months ended April 30, 2025 and 2024, the dollar-based net retention rate was 114% and\\\\n116%, respectively.\\\\nWe calculate our dollar-based net retention rate as follows:\\\\nDenominator: To calculate our dollar-based net retention rate as of the end of a reporting period, we first establish the ARR\\\\nfrom all active subscriptions as of the last day of the same reporting period in the prior fiscal year. This effectively represents\\\\nrecurring dollars that we expect in the next 12-month period from the cohort of customers that existed on the last day of the same\\\\nreporting period in the prior fiscal year.\\\\nNumerator: We measure the ARR for that same cohort of customers representing all subscriptions based on confirmed\\\\ncustomer orders booked by us as of the end of the reporting period.\\\\nDollar-based net retention rate is obtained by dividing the numerator by the denominator.\\\", \\\"pageNumber\\\": 45, \\\"excerpt\\\": \\\"For the trailing 12 months ended April 30, 2025 and 2024, the dollar-based net retention rate was 114% and 116%, respectively.\\\", \\\"documentMetadata\\\": {\\\"documentId\\\": \\\"207db5da-c2bb-42b8-a0d3-1a5d508e723c\\\", \\\"documentCategory\\\": \\\"interim-report\\\", \\\"formType\\\": null, \\\"tickers\\\": [\\\"ZS\\\"], \\\"companyName\\\": \\\"Zscaler, Inc.\\\", \\\"date\\\": \\\"2025-05-29\\\", \\\"fiscalQuarter\\\": 3, \\\"fiscalYear\\\": 2025}}}"
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/documents": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get Document",
        "description": "**DEPRECATED**: This endpoint is deprecated and should not be used directly.\n\nRetrieves a source document for display in the frontend.\n\nNOTE: Consuming applications should NOT use this endpoint directly. Instead, they should \nuse the `sourceLink` URLs returned by other endpoints (like `/rag/agent-query-stream` or `/rag/chunks`).\nThis endpoint is documented here purely for reference purposes.\n\nThis endpoint is designed to be called when a consuming application has received\na response containing a `sourceLink` from other endpoints (like `/rag/agent-query-stream` \nor `/rag/chunks`). It returns the full HTML content and metadata of the referenced \ndocument for display and highlighting in the frontend.\n\nSupported document types:\n- SEC filings (10-K, 10-Q)\n- International SEC filings (20-F, 40-F, 6-K)\n- 8-K documents (with embedded images)\n- Earnings call transcripts\n- Proxy statements (DEF 14A, DEFM14A, DEF 14C, DEFM14C, etc.)\n- Investor relations (IR) documents (PDF and XLSX files)",
        "operationId": "get_document_api_v1_documents_get",
        "deprecated": true,
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "sourceType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Type of document (10-K, 10-Q, 8-K, 20-F, 40-F, 6-K, transcript, DEF 14A, DEFM14A, DEF 14C, S-1, ir)",
              "title": "Sourcetype"
            },
            "description": "Type of document (10-K, 10-Q, 8-K, 20-F, 40-F, 6-K, transcript, DEF 14A, DEFM14A, DEF 14C, S-1, ir)"
          },
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "UUID of the document",
              "title": "Documentid"
            },
            "description": "UUID of the document"
          },
          {
            "name": "fileType",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "For IR documents: file type (pdf, xlsx) - optional, will be retrieved from database if not provided",
              "title": "Filetype"
            },
            "description": "For IR documents: file type (pdf, xlsx) - optional, will be retrieved from database if not provided"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/HTMLDocumentResponse"
                    },
                    {
                      "$ref": "#/components/schemas/BlobDocumentResponse"
                    }
                  ],
                  "title": "Response Get Document Api V1 Documents Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/rag/agent-query-stream": {
      "post": {
        "tags": [
          "Retrieval Augmented Generation"
        ],
        "summary": "Agent Query Stream",
        "description": "Stream a response to a query in a simple markdown format.\n\nThis endpoint provides a simplified streaming response:\n1. First, it streams the ID mapping for source linking\n2. Then it streams raw markdown content as it comes from the LLM\n\nThe client only needs to concatenate the markdown chunks to get the full document,\nand can use the ID mapping to resolve citations to their sources.\n\nRequest body:\n- **query**: The query to ask the agent (required)\n- **tickers**: Optional list of ticker symbols to filter documents by\n- **sourceType**: Optional source type(s) to include (available options: '10-K', '10-Q', '8-K', '20-F', '40-F', '6-K', 'transcript', 'DEF 14A', etc.).\n                 Can be a single string or a list of strings.\n- **startDate**: Optional start date for document filtering (format: YYYY-MM-DD)\n- **endDate**: Optional end date for document filtering (format: YYYY-MM-DD)\n- **sourceLink**: Optional source link(s) to search within. Can be a single string or a list of strings.\n                 No other documents will be queried by the agent but these. Use to \n                 restrict the search to user-selected documents.\n\nReturns a streaming response with these event types:\n- 'id_mapping': A mapping of IDs to source links for citation resolution\n  ```\n  {\n    \"type\": \"id_mapping\",\n    \"mapping\": {\n      \"#uuid1234\": {\n        \"sourceLink\": \"http://rest-api.captide.co/document?id=12345678\",\n        \"sourceMetadata\": {\n          \"sourceType\": \"10-K\",\n          \"ticker\": \"AAPL\",\n          \"date\": \"2024-01-01\",\n          \"fiscalPeriod\": \"FY 2023\",\n          \"documentId\": \"12345678\"\n        }\n      }\n    }\n  }\n  ```\n\n- 'markdown_chunk': A chunk of markdown text\n  ```\n  {\n    \"type\": \"markdown_chunk\",\n    \"content\": \"This is a part of the markdown response with a citation [#uuid1234].\"\n  }\n  ```\n\n- 'warning': Notification when requested information is not found\n  ```\n  {\n    \"type\": \"warning\",\n    \"message\": \"Could not find information about X in the provided documents.\"\n  }\n  ```\n\n- 'done': Signals the end of the stream\n  ```\n  {\n    \"type\": \"done\"\n  }\n  ```\n\n- 'error': Error information if something goes wrong\n  ```\n  {\n    \"type\": \"error\",\n    \"detail\": \"An error occurred while processing the request.\"\n  }\n  ```\n\nClient implementation recommendations:\n1. First process the 'id_mapping' event to obtain source information for citations\n2. Then accumulate all 'markdown_chunk' events to build the complete response\n3. Display warnings to the user when 'warning' events are received\n4. When a 'done' event is received, the response is complete\n5. Use the ID mapping to create clickable citations in the rendered markdown\n\nIntegration with document search:\nThe 'sourceLink' parameter can be used in conjunction with the document search endpoint to:\n1. Let users search and select specific documents they want to analyze\n2. Then pass those document IDs to this endpoint to ensure the AI only references those selected documents\n3. This creates a more user-controlled research experience where they can direct the AI to specific filings",
        "operationId": "agent_query_stream_api_v1_rag_agent_query_stream_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Root",
        "description": "Health check endpoint.",
        "operationId": "root__get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentRequest": {
        "properties": {
          "query": {
            "type": "string",
            "title": "Query",
            "description": "The natural language query"
          },
          "tickers": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tickers",
            "description": "List of ticker symbols to filter by"
          },
          "startDate": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Startdate",
            "description": "Start date for filtering (YYYY-MM-DD)"
          },
          "endDate": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Enddate",
            "description": "End date for filtering (YYYY-MM-DD)"
          },
          "sourceTypes": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sourcetypes",
            "description": "List of source types to filter by"
          },
          "sourceLinks": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sourcelinks",
            "description": "List of specific source links to use"
          },
          "secOnly": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Seconly",
            "description": "Whether to use only SEC documents",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "query"
        ],
        "title": "AgentRequest",
        "description": "Request model for agent queries."
      },
      "AgentResponse": {
        "properties": {
          "content": {
            "type": "string",
            "title": "Content",
            "description": "The agent's response in markdown format"
          },
          "sourceMap": {
            "additionalProperties": {
              "$ref": "#/components/schemas/Chunk"
            },
            "type": "object",
            "title": "Sourcemap",
            "description": "Mapping of citation reference IDs to chunk metadata"
          }
        },
        "type": "object",
        "required": [
          "content",
          "sourceMap"
        ],
        "title": "AgentResponse",
        "description": "Response model for agent queries."
      },
      "BlobDocumentResponse": {
        "properties": {
          "ticker": {
            "type": "string",
            "title": "Ticker",
            "description": "Company ticker symbol"
          },
          "companyName": {
            "type": "string",
            "title": "Companyname",
            "description": "Name of the company"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Metadata",
            "description": "Additional document metadata"
          },
          "sourceType": {
            "$ref": "#/components/schemas/BlobDocumentType",
            "description": "Type of blob document"
          },
          "sasUrl": {
            "type": "string",
            "title": "Sasurl",
            "description": "SAS URL for direct access to the document in blob storage"
          },
          "fileType": {
            "$ref": "#/components/schemas/IRFileType",
            "description": "File type (pdf, xlsx)"
          },
          "fileName": {
            "type": "string",
            "title": "Filename",
            "description": "File name of the document"
          },
          "contentType": {
            "type": "string",
            "title": "Contenttype",
            "description": "MIME type of the document"
          },
          "date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date",
            "description": "Document date (filing date or transcript date)"
          },
          "fiscalPeriod": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fiscalperiod",
            "description": "Fiscal period of the document"
          }
        },
        "type": "object",
        "required": [
          "ticker",
          "companyName",
          "sourceType",
          "sasUrl",
          "fileType",
          "fileName",
          "contentType"
        ],
        "title": "BlobDocumentResponse",
        "description": "Response model for blob storage documents (PDFs, XLSX files, etc.)."
      },
      "BlobDocumentType": {
        "type": "string",
        "enum": [
          "ir"
        ],
        "title": "BlobDocumentType"
      },
      "Chunk": {
        "properties": {
          "content": {
            "type": "string",
            "title": "Content",
            "description": "Plain text content of the entire chunk"
          },
          "pageNumber": {
            "type": "integer",
            "title": "Pagenumber",
            "description": "Page number in the document"
          },
          "excerpt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Excerpt",
            "description": "Specific part of the chunk that the agent used to answer the user's question. Used for source linking and highlighting."
          },
          "documentMetadata": {
            "$ref": "#/components/schemas/SourceDocument",
            "description": "Metadata for the chunk's document"
          }
        },
        "type": "object",
        "required": [
          "content",
          "pageNumber",
          "documentMetadata"
        ],
        "title": "Chunk",
        "description": "A chunk of document content with metadata."
      },
      "ChunksResponse": {
        "properties": {
          "relevantChunks": {
            "items": {
              "$ref": "#/components/schemas/Chunk"
            },
            "type": "array",
            "title": "Relevantchunks",
            "description": "List of relevant document chunks"
          }
        },
        "type": "object",
        "required": [
          "relevantChunks"
        ],
        "title": "ChunksResponse",
        "description": "Response model for chunk search results."
      },
      "CompanyListResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Company ID"
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Company name"
          },
          "tickers": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Tickers",
            "description": "List of ticker symbols with exchange suffixes (e.g., 'AAPL', 'ITX.MC')"
          },
          "countries": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Countries",
            "description": "List of country ISO2 codes"
          },
          "filesWithSec": {
            "type": "boolean",
            "title": "Fileswithsec",
            "description": "Whether company files with SEC"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "tickers",
          "countries",
          "filesWithSec"
        ],
        "title": "CompanyListResponse",
        "description": "Response model for company list results."
      },
      "DocumentCategory": {
        "type": "string",
        "enum": [
          "annual-report",
          "interim-report",
          "supplemental-financial-information",
          "earnings-release",
          "current-report",
          "shareholder-meetings-notice",
          "earnings-call-slides",
          "special-events-slides",
          "earnings-call-transcript",
          "sustainability-report",
          "initial-registration-statement",
          "follow-on-registration-statement",
          "merger-registration-statement",
          "compensation-registration-statement",
          "tender-offer-statement",
          "going-private-statement",
          "insider-shares-transactions",
          "other"
        ],
        "title": "DocumentCategory",
        "description": "Enum for document categories with their descriptions."
      },
      "DocumentListResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Document ID"
          },
          "documentCategory": {
            "$ref": "#/components/schemas/DocumentCategory",
            "description": "Category of document\n\n**Available categories:**\n- `annual-report`: Comprehensive yearly financial and business performance disclosures, including audited financials, management discussion (MD&A), risks, and governance.\n- `interim-report`: Formal financial reports for part of the fiscal year (e.g., quarterly or semiannual), featuring detailed statements, footnotes, and regulatory sections.\n- `supplemental-financial-information`: Financial data supplements offering KPIs, segment metrics, reconciliations, or historical comparisons\u2014without replacing formal filings.\n- `earnings-release`: Early look at key quarterly or annual results via press releases; includes revenue, earnings, and performance highlights before full reports.\n- `current-report`: Time-sensitive updates on material events like M&A, leadership changes, legal issues, or strategic decisions.\n- `shareholder-meetings-notice`: Notices and materials related to shareholder meetings, including voting items like director elections or executive compensation.\n- `earnings-call-slides`: Visual summaries of quarterly or annual results used during earnings calls; highlight financial performance and management commentary.\n- `special-events-slides`: Presentation decks from investor-focused events (e.g., Investor Day), covering long-term strategy, business updates, and outlooks.\n- `earnings-call-transcript`: Written transcripts of earnings calls with executive commentary and analyst Q&A sessions.\n- `sustainability-report`: Reports focused on environmental, social, and governance (ESG) topics including climate initiatives, diversity, and social responsibility.\n- `initial-registration-statement`: Full disclosure filings for first-time public offerings (e.g., IPOs), including company details, risk factors, and use of proceeds.\n- `follow-on-registration-statement`: Streamlined filings for public companies issuing additional securities, often under a shelf registration.\n- `merger-registration-statement`: Disclosures related to securities issued in mergers, acquisitions, or similar deals, often including proxy materials.\n- `compensation-registration-statement`: Filings for securities issued under employee stock or equity compensation plans.\n- `tender-offer-statement`: Public share offer disclosures for buybacks, takeovers, or third-party acquisitions, detailing terms and pricing.\n- `going-private-statement`: Disclosures related to transactions that delist a company and make it privately held, including fairness assessments for shareholders.\n- `insider-shares-transactions`: Reports of share dealings by executives, directors, or major shareholders to promote transparency and deter insider trading.\n- `other`: Any disclosure that does not clearly match the defined categories above."
          },
          "formType": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/FormType"
              },
              {
                "type": "null"
              }
            ],
            "description": "Form type for SEC filings"
          },
          "tickers": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Tickers",
            "description": "List of ticker symbols with exchange suffixes (e.g., 'AAPL', 'ITX.MC')"
          },
          "companyName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Companyname",
            "description": "Company name"
          },
          "date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date",
            "description": "Document date"
          },
          "fiscalQuarter": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fiscalquarter",
            "description": "Fiscal quarter (1-4)"
          },
          "fiscalYear": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fiscalyear",
            "description": "Fiscal year"
          },
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Title",
            "description": "Document title"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Document description"
          }
        },
        "type": "object",
        "required": [
          "id",
          "documentCategory",
          "tickers"
        ],
        "title": "DocumentListResponse",
        "description": "Response model for document list results."
      },
      "DocumentResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Document ID"
          },
          "documentCategory": {
            "$ref": "#/components/schemas/DocumentCategory",
            "description": "Category of document\n\n**Available categories:**\n- `annual-report`: Comprehensive yearly financial and business performance disclosures, including audited financials, management discussion (MD&A), risks, and governance.\n- `interim-report`: Formal financial reports for part of the fiscal year (e.g., quarterly or semiannual), featuring detailed statements, footnotes, and regulatory sections.\n- `supplemental-financial-information`: Financial data supplements offering KPIs, segment metrics, reconciliations, or historical comparisons\u2014without replacing formal filings.\n- `earnings-release`: Early look at key quarterly or annual results via press releases; includes revenue, earnings, and performance highlights before full reports.\n- `current-report`: Time-sensitive updates on material events like M&A, leadership changes, legal issues, or strategic decisions.\n- `shareholder-meetings-notice`: Notices and materials related to shareholder meetings, including voting items like director elections or executive compensation.\n- `earnings-call-slides`: Visual summaries of quarterly or annual results used during earnings calls; highlight financial performance and management commentary.\n- `special-events-slides`: Presentation decks from investor-focused events (e.g., Investor Day), covering long-term strategy, business updates, and outlooks.\n- `earnings-call-transcript`: Written transcripts of earnings calls with executive commentary and analyst Q&A sessions.\n- `sustainability-report`: Reports focused on environmental, social, and governance (ESG) topics including climate initiatives, diversity, and social responsibility.\n- `initial-registration-statement`: Full disclosure filings for first-time public offerings (e.g., IPOs), including company details, risk factors, and use of proceeds.\n- `follow-on-registration-statement`: Streamlined filings for public companies issuing additional securities, often under a shelf registration.\n- `merger-registration-statement`: Disclosures related to securities issued in mergers, acquisitions, or similar deals, often including proxy materials.\n- `compensation-registration-statement`: Filings for securities issued under employee stock or equity compensation plans.\n- `tender-offer-statement`: Public share offer disclosures for buybacks, takeovers, or third-party acquisitions, detailing terms and pricing.\n- `going-private-statement`: Disclosures related to transactions that delist a company and make it privately held, including fairness assessments for shareholders.\n- `insider-shares-transactions`: Reports of share dealings by executives, directors, or major shareholders to promote transparency and deter insider trading.\n- `other`: Any disclosure that does not clearly match the defined categories above."
          },
          "formType": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/FormType"
              },
              {
                "type": "null"
              }
            ],
            "description": "Form type in the case the documents is an SEC filing (e.g., 10-K, 10-Q)"
          },
          "tickers": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Tickers",
            "description": "List of ticker symbols with exchange suffixes (e.g., 'AAPL', 'ITX.MC')"
          },
          "companyName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Companyname",
            "description": "Company name"
          },
          "date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date",
            "description": "Document date"
          },
          "fiscalQuarter": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fiscalquarter",
            "description": "Fiscal quarter (1-4)"
          },
          "fiscalYear": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fiscalyear",
            "description": "Fiscal year"
          },
          "originalFileUrl": {
            "type": "string",
            "title": "Originalfileurl",
            "description": "URL to the original document file"
          },
          "markdownFileUrl": {
            "type": "string",
            "title": "Markdownfileurl",
            "description": "URL to the markdown version of the document"
          }
        },
        "type": "object",
        "required": [
          "id",
          "documentCategory",
          "tickers",
          "originalFileUrl",
          "markdownFileUrl"
        ],
        "title": "DocumentResponse",
        "description": "Response model for document retrieval by ID."
      },
      "ErrorResponse": {
        "properties": {
          "detail": {
            "type": "string",
            "title": "Detail"
          }
        },
        "type": "object",
        "required": [
          "detail"
        ],
        "title": "ErrorResponse",
        "description": "Standard error response model for all API endpoints."
      },
      "FormType": {
        "type": "string",
        "enum": [
          "10-K",
          "10-Q",
          "8-K",
          "6-K",
          "20-F",
          "40-F",
          "S-1",
          "F-1",
          "S-3",
          "F-3",
          "S-4",
          "F-4",
          "S-8",
          "F-8",
          "DEF 14A",
          "DEFA14A",
          "DEFM14A",
          "DEF 14C",
          "DEFM14C",
          "DEFA14C"
        ],
        "title": "FormType"
      },
      "HTMLDocumentResponse": {
        "properties": {
          "ticker": {
            "type": "string",
            "title": "Ticker",
            "description": "Company ticker symbol"
          },
          "companyName": {
            "type": "string",
            "title": "Companyname",
            "description": "Name of the company"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Metadata",
            "description": "Additional document metadata"
          },
          "sourceType": {
            "$ref": "#/components/schemas/HTMLDocumentType",
            "description": "Type of HTML document"
          },
          "htmlContent": {
            "type": "string",
            "title": "Htmlcontent",
            "description": "HTML content of the document for display"
          },
          "date": {
            "type": "string",
            "title": "Date",
            "description": "Document date (filing date or transcript date)"
          },
          "fiscalPeriod": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fiscalperiod",
            "description": "Fiscal period of the document"
          }
        },
        "type": "object",
        "required": [
          "ticker",
          "companyName",
          "sourceType",
          "htmlContent",
          "date"
        ],
        "title": "HTMLDocumentResponse",
        "description": "Response model for HTML-based documents (SEC filings, transcripts, etc.)."
      },
      "HTMLDocumentType": {
        "type": "string",
        "enum": [
          "10-K",
          "10-Q",
          "8-K",
          "20-F",
          "40-F",
          "6-K",
          "S-1",
          "DEF 14A",
          "DEFM14A",
          "DEF 14C",
          "DEFM14C",
          "transcript"
        ],
        "title": "HTMLDocumentType"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "IRFileType": {
        "type": "string",
        "enum": [
          "pdf",
          "xlsx"
        ],
        "title": "IRFileType"
      },
      "SourceDocument": {
        "properties": {
          "documentId": {
            "type": "string",
            "title": "Documentid",
            "description": "Unique identifier for the document in the database"
          },
          "documentCategory": {
            "$ref": "#/components/schemas/DocumentCategory",
            "description": "Document category code (e.g. annual-report, earnings-call-transcript, etc.)"
          },
          "formType": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/FormType"
              },
              {
                "type": "null"
              }
            ],
            "description": "SEC form type (e.g. 10-K, 10-Q, 8-K, etc.)"
          },
          "date": {
            "type": "string",
            "title": "Date",
            "description": "Document date (filing_date or transcript_date)"
          },
          "description": {
            "type": "string",
            "title": "Description",
            "description": "Description of the document"
          },
          "fiscalQuarter": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fiscalquarter",
            "description": "Fiscal quarter of the document"
          },
          "fiscalYear": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fiscalyear",
            "description": "Fiscal year of the document"
          },
          "companyName": {
            "type": "string",
            "title": "Companyname",
            "description": "Company name"
          },
          "tickers": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Tickers",
            "description": "Ticker for the company"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Metadata",
            "description": "Additional metadata for the document"
          }
        },
        "type": "object",
        "required": [
          "documentId",
          "documentCategory",
          "date",
          "description",
          "companyName",
          "tickers"
        ],
        "title": "SourceDocument",
        "description": "Source document metadata model."
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    },
    "securitySchemes": {
      "APIKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}