{
  "openapi": "3.1.0",
  "info": {
    "title": "Captide REST API",
    "description": "API for accessing financial disclosures and AI-powered financial document analysis.",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://rest-api.captide.co",
      "description": "Production server"
    },
    {
      "url": "https://rest-apidev.captide.co",
      "description": "Development server"
    },
    {
      "url": "http://localhost:8001",
      "description": "Local development server"
    }
  ],
  "paths": {
    "/api/v1/companies/list": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "List companies",
        "description": "Retrieves a list of companies from the Captide database that match user-specified parameters. The response includes key company information such as name, ticker symbol(s) with exchange suffixes, country of domicile, SEC filing status, and the unique company ID assigned by Captide.",
        "operationId": "list_companies_api_v1_companies_list_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "tickers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated list of company tickers (supports both base tickers like 'ITX' and suffixed tickers like 'ITX.MC')",
              "title": "Tickers"
            },
            "description": "Comma-separated list of company tickers (supports both base tickers like 'ITX' and suffixed tickers like 'ITX.MC')",
            "example": "AAPL,ITX.MC"
          },
          {
            "name": "countries",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated list of country codes (ISO 3166-1 alpha-2)",
              "title": "Countries"
            },
            "description": "Comma-separated list of country codes (ISO 3166-1 alpha-2)",
            "example": "US,CA"
          },
          {
            "name": "filesWithSec",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter companies by SEC filing status",
              "title": "Fileswithsec"
            },
            "description": "Filter companies by SEC filing status",
            "example": true
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated list of company IDs",
              "title": "Ids"
            },
            "description": "Comma-separated list of company IDs",
            "example": "123e4567-e89b-12d3-a456-426614174000,987fcdeb-51a2-43d1-b789-123456789abc"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 1000,
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum number of records to return",
              "default": 100,
              "title": "Limit"
            },
            "description": "Maximum number of records to return",
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Successful list results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyListResponse"
                  },
                  "title": "Response List Companies Api V1 Companies List Get"
                },
                "example": [
                  {
                    "id": "91f6c6da-478f-4161-b451-aa5177cc7fb9",
                    "name": "Apple Inc.",
                    "tickers": [
                      "AAPL"
                    ],
                    "countries": [
                      "US"
                    ],
                    "filesWithSec": true
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Invalid filter parameters"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{id}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get company by ID",
        "description": "Retrieves a single company from the Captide database by its unique ID. The response includes key company information such as name, ticker symbol(s) with exchange suffixes, country of domicile, and SEC filing status.",
        "operationId": "get_company_api_v1_companies__id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful company retrieval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyListResponse"
                },
                "example": {
                  "id": "91f6c6da-478f-4161-b451-aa5177cc7fb9",
                  "name": "Apple Inc.",
                  "tickers": [
                    "AAPL"
                  ],
                  "countries": [
                    "US"
                  ],
                  "filesWithSec": true
                }
              }
            }
          },
          "404": {
            "description": "Company not found"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/documents/list": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "List documents",
        "description": "Retrieves a list of financial and corporate disclosures available in Captide that match user-specified parameters. The response includes key document metadata such as the associated company's ticker symbol(s), document type, release date, fiscal year and quarter, the Captide-assigned document ID, and the associated company ID.",
        "operationId": "list_documents_api_v1_documents_list_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "tickers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated list of company tickers",
              "title": "Tickers"
            },
            "description": "Comma-separated list of company tickers",
            "example": "AAPL,AMZN"
          },
          {
            "name": "documentCategories",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated list of document categories",
              "title": "Documentcategories"
            },
            "description": "Comma-separated list of document categories",
            "example": "annual-report,interim-report"
          },
          {
            "name": "formTypes",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated list of form types",
              "title": "Formtypes"
            },
            "description": "Comma-separated list of form types",
            "example": "10-K,10-Q"
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The start date (ISO 8601)",
              "title": "Startdate"
            },
            "description": "The start date (ISO 8601)",
            "example": "2024-12-12T15:00:00Z"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The end date (ISO 8601)",
              "title": "Enddate"
            },
            "description": "The end date (ISO 8601)",
            "example": "2025-01-10T13:00:00Z"
          },
          {
            "name": "companyIds",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated list of company IDs",
              "title": "Companyids"
            },
            "description": "Comma-separated list of company IDs",
            "example": "123e4567-e89b-12d3-a456-426614174000,987fcdeb-51a2-43d1-b567-537725285111"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 1000,
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum number of records to return",
              "default": 100,
              "title": "Limit"
            },
            "description": "Maximum number of records to return",
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Document list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentListResponse"
                  },
                  "title": "Response List Documents Api V1 Documents List Get"
                },
                "example": [
                  {
                    "id": "0de9728d-f353-43f3-8605-e546a7bfcb8a",
                    "documentCategory": "current-report",
                    "tickers": [
                      "AD8",
                      "AD8.AX"
                    ],
                    "companyName": "Audinate Group",
                    "date": "2022-02-14",
                    "fiscalQuarter": 2,
                    "fiscalYear": 2022,
                    "originalFileUrl": "https://files.captide.co/original-docs/0009b057-7acc-4bfd-93df-bf3fcf65ad84/0de9728d-f353-43f3-8605-e546a7bfcb8a.pdf",
                    "markdownFileUrl": "https://files.captide.co/markdown-docs/0009b057-7acc-4bfd-93df-bf3fcf65ad84/0de9728d-f353-43f3-8605-e546a7bfcb8a.md"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Invalid filter parameters"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/documents/{id}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get document by ID",
        "description": "Fetch a document by its ID from the database, including company and ticker info.\n    \n    This endpoint returns complete document details including metadata, file URLs,\n    and associated company information.",
        "operationId": "get_document_by_id_api_v1_documents__id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Document ID",
              "title": "Id"
            },
            "description": "Document ID",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        ],
        "responses": {
          "200": {
            "description": "Document found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                },
                "example": {
                  "id": "0de9728d-f353-43f3-8605-e546a7bfcb8a",
                  "documentCategory": "current-report",
                  "tickers": [
                    "AD8",
                    "AD8.AX"
                  ],
                  "companyName": "Audinate Group",
                  "date": "2022-02-14",
                  "fiscalQuarter": 2,
                  "fiscalYear": 2022,
                  "originalFileUrl": "https://files.captide.co/original-docs/0009b057-7acc-4bfd-93df-bf3fcf65ad84/0de9728d-f353-43f3-8605-e546a7bfcb8a.pdf",
                  "markdownFileUrl": "https://files.captide.co/markdown-docs/0009b057-7acc-4bfd-93df-bf3fcf65ad84/0de9728d-f353-43f3-8605-e546a7bfcb8a.md"
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/rag/chunks": {
      "post": {
        "tags": [
          "Retrieval Augmented Generation"
        ],
        "summary": "Search document chunks",
        "description": "Search for relevant document chunks based on a query. Under the hood, Captide's RAG system uses a combination of LLMs and vector databases to find the most relevant chunks of text from corporate disclosures that are most relevant to the query.\n    This endpoint returns chunks of text from corporate disclosures that are most relevant to the query, along with metadata about their source documents. This endpoint is useful for building search interfaces or retrieving specific content from documents.",
        "operationId": "search_chunks_api_v1_rag_chunks_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The natural language query",
              "title": "Query"
            },
            "description": "The natural language query",
            "example": "What was Apple's revenue in 2023?"
          }
        ],
        "responses": {
          "200": {
            "description": "Chunks found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChunksResponse"
                },
                "example": {
                  "relevantChunks": [
                    {
                      "content": "Apple Inc. reported revenue of $94.8 billion for Q2 2023...",
                      "pageNumber": 4,
                      "excerpt": "Apple Inc. reported revenue of $94.8 billion",
                      "documentMetadata": {
                        "documentId": "f548de12-6eb6-4742-84a8-8297fa096ce5",
                        "documentCategory": "interim-report",
                        "formType": "10-Q",
                        "date": "2023-05-05",
                        "description": "Apple Inc.'s Form 10-K quarterly report for the fiscal quarter ended April 1, 2023",
                        "fiscalQuarter": 2,
                        "fiscalYear": 2023,
                        "companyName": "Apple Inc.",
                        "tickers": [
                          "AAPL"
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/rag/agent-response": {
      "post": {
        "tags": [
          "Retrieval Augmented Generation"
        ],
        "summary": "Get agent response",
        "description": "Returns cited Markdown responses, sourced exclusively from corporate disclosures, in response to natural language queries.\n    This endpoint provides AI-generated answers with proper citations to source documents, making it ideal for building Q&A interfaces or research tools.",
        "operationId": "agent_response_api_v1_rag_agent_response_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The natural language query",
              "title": "Query"
            },
            "description": "The natural language query",
            "example": "What was Apple's revenue in 2023?"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent response generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                },
                "example": {
                  "content": "According to Apple's 10-K filing for fiscal year 2023, the company reported revenue of **$394.3 billion**, representing a 3% decrease from the previous year.",
                  "sourceMap": {
                    "#cf870026": {
                      "content": "# Apple Inc. | 2023 Form 10-K | 20...",
                      "pageNumber": 26,
                      "excerpt": "The Company's total net sales were $383.3 billion...",
                      "documentMetadata": {
                        "documentId": "cf87ec22-1003-4b38-acb8-007cf90538cf",
                        "documentCategory": "annual-report",
                        "formType": "10-K",
                        "date": "2023-11-03",
                        "description": "This document is the Annual Report on Form 10-K filed by Apple Inc. for the fiscal year 2023.",
                        "fiscalQuarter": 4,
                        "fiscalYear": 2023,
                        "companyName": "Apple Inc.",
                        "tickers": [
                          "AAPL"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/rag/agent-response-stream": {
      "post": {
        "tags": [
          "Retrieval Augmented Generation"
        ],
        "summary": "Stream agent response",
        "description": "Streams cited Markdown responses, sourced exclusively from corporate disclosures, as server-sent events in response to natural language queries. This endpoint provides real-time streaming of AI-generated answers, making it ideal for interactive chat interfaces where users can see responses as they're generated.\n    \n    **Server-Sent Events (SSE) Structure:**\n    \n    - **`event: thinking`** - Agent's thinking process with stage information\n      - `data: {\"type\": \"message\", \"role\": \"assistant\", \"content\": \"...\", \"stage\": \"searchd\"}`\n    \n    - **`event: message`** - Content chunks and warnings\n      - `data: {\"type\": \"message\", \"role\": \"assistant\", \"content\": \"...\"}` - Response content chunks\n      - `data: {\"type\": \"warning\", \"message\": \"...\"}` - Warning when no documents found\n    \n    - **`event: message/partial`** - Partial response content (streaming)\n      - `data: {\"type\": \"message\", \"role\": \"assistant\", \"content\": \"...\"}`\n    \n    - **`event: metadata`** - Source document information\n      - `data: {\"type\": \"sources\", \"content\": {\"#ref_id\": {\"content\": \"...\", \"pageNumber\": 123, \"excerpt\": \"...\", \"documentMetadata\": {\"documentId\": \"...\", \"documentCategory\": \"...\", \"formType\": \"...\", \"tickers\": [\"...\"], \"companyName\": \"...\", \"date\": \"...\", \"fiscalQuarter\": 1, \"fiscalYear\": 2025}}}}}` - Document sources and citations\n    \n    - **`event: done`** - Stream completion\n      - `data: {}`",
        "operationId": "agent_response_stream_api_v1_rag_agent_response_stream_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The natural language query",
              "title": "Query"
            },
            "description": "The natural language query",
            "example": "What was Apple's revenue in 2023?"
          }
        ],
        "responses": {
          "200": {
            "description": "Stream started successfully",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "example": "event: thinking\ndata: {\"type\": \"message\", \"role\": \"assistant\", \"content\": \"I'm going to look through 3 documents from NVIDIA CORP...\", \"stage\": \"search\"}\n\nevent: thinking\ndata: {\"type\": \"message\", \"role\": \"assistant\", \"content\": \"I found 13 relevant pages from NVIDIA CORP\", \"stage\": \"analyzing\"}\n\nevent: message\ndata: {\"type\": \"message\", \"role\": \"assistant\", \"content\": \"N\"}\n\nevent: message\ndata: {\"type\": \"message\", \"role\": \"assistant\", \"content\": \"VIDIA\"}\n\nevent: message\ndata: {\"type\": \"message\", \"role\": \"assistant\", \"content\": \"'s revenue for the fiscal year 2023 was **$26.97 billion**.\"}\n\nevent: metadata\ndata: {\"type\": \"sources\", \"content\": {\"#7bcd0078\": {\"content\": \"### \u00ae\\n\\nRevenue (Tables)\\n3 Months Ended\\nDec. 28, 2024\\nRevenue from Contract with\\nCustomer [Abstract]\\n\\nNet Sales Disaggregated by Significant\\nProducts and Services\\nNet sales disaggregated by significant products and services for the three\\nmonths ended December 28, 2024 and December 30, 2023 were as follows\\n(in millions):\\nThree Months Ended\\nDecember\\n28,\\n2024\\nDecember\\n30,\\n2023\\niPhone\\n$\\n69,138\\n$\\n69,702\\nMac\\n8,987\\n7,780\\niPad\\n8,088\\n7,023\\nWearables, Home and Accessories\\n11,747\\n11,953\\nServices\\n26,340\\n23,117\\nTotal net sales\\n$ 124,300\\n$ 119,575\\n\u00ae\\n\u00ae\\n\u00ae\", \"pageNumber\": 79, \"excerpt\": \"Total net sales $ 124,300\", \"documentMetadata\": {\"documentId\": \"7bcdbd06-6b2a-460d-9596-626b6bfded3a\", \"documentCategory\": \"interim-report\", \"formType\": \"10-Q\", \"tickers\": [\"AAPL\"], \"companyName\": \"Apple Inc.\", \"date\": \"2025-01-31\", \"fiscalQuarter\": 1, \"fiscalYear\": 2025}}, \"#2d6e0187\": {\"content\": \"Revenue (Tables)\\n12 Months Ended\\nSep. 28, 2024\\nRevenue from Contract with\\nCustomer [Abstract]\\n\\nNet Sales Disaggregated by Significant\\nProducts and Services\\nNet sales disaggregated by significant products and services for 2024, 2023\\nand 2022 were as follows (in millions):\\n2024\\n2023\\n2022\\niPhone\\n$201,183\\n$200,583\\n$205,489\\nMac\\n29,984\\n29,357\\n40,177\\niPad\\n26,694\\n28,300\\n29,292\\nWearables, Home and\\nAccessories\\n37,005\\n39,845\\n41,241\\nServices \\n96,169\\n85,200\\n78,129\\nTotal net sales\\n$391,035\\n$383,285\\n$394,328\\n(1)\\nServices net sales include amortization of the deferred value of\\nservices bundled in the sales price of certain products.\\n(1)\", \"pageNumber\": 188, \"excerpt\": \"Total net sales $391,035\", \"documentMetadata\": {\"documentId\": \"2d6e24a5-080d-4ad4-a1d3-2975143c1e4b\", \"documentCategory\": \"annual-report\", \"formType\": \"10-K\", \"tickers\": [\"AAPL\"], \"companyName\": \"Apple Inc.\", \"date\": \"2024-11-01\", \"fiscalQuarter\": 4, \"fiscalYear\": 2024}}, \"#76550003\": {\"content\": \"# Apple Inc. | Q2 2025 Form 10-Q | 1\\n\\n# See accompanying Notes to Condensed Consolidated Financial Statements.\\n\\n# Shares used in computing earnings per share:\\n\\n# Basic\\n$\\n1.65\\n$\\n1.53\\n$\\n4.06\\n$\\n3.72\\nDiluted\\n$\\n1.65\\n$\\n1.53\\n$\\n4.05\\n$\\n3.71\\n\\n## Earnings per share:\\n\\nPART I \u2014 FINANCIAL INFORMATION\\nItem 1. Financial Statements\\nApple Inc.\\nCONDENSED CONSOLIDATED STATEMENTS OF OPERATIONS (Unaudited)\\n(In millions, except number of shares, which are reflected in thousands, and per-share amounts)\\nThree Months Ended\\nSix Months Ended\\nMarch 29,\\n2025\\nMarch 30,\\n2024\\nMarch 29,\\n2025\\nMarch 30,\\n2024\\nNet sales:\\n  Products\\n$\\n68,714\\n$\\n66,886\\n$\\n166,674\\n$\\n163,344\\n  Services\\n26,645\\n23,867\\n52,985\\n46,984\\nTotal net sales\\n95,359\\n90,753\\n219,659\\n210,328\\nCost of sales:\\n  Products\\n44,030\\n42,424\\n103,477\\n100,864\\n  Services\\n6,462\\n6,058\\n13,040\\n12,338\\nTotal cost of sales\\n50,492\\n48,482\\n116,517\\n113,202\\nGross margin\\n44,867\\n42,271\\n103,142\\n97,126\\nOperating expenses:\\nResearch and development\\n8,550\\n7,903\\n16,818\\n15,599\\nSelling, general and administrative\\n6,728\\n6,468\\n13,903\\n13,254\\nTotal operating expenses\\n15,278\\n14,371\\n30,721\\n28,853\\nOperating income\\n29,589\\n27,900\\n72,421\\n68,273\\nOther income/(expense), net\\n(279)\\n158\\n(527)\\n108\\nIncome before provision for income taxes\\n29,310\\n28,058\\n71,894\\n68,381\\nProvision for income taxes\\n4,530\\n4,422\\n10,784\\n10,829\\nNet income\\n$\\n24,780\\n$\\n23,636\\n$\\n61,110\\n$\\n57,552\\nEarnings per share:\\nBasic\\n$\\n1.65\\n$\\n1.53\\n$\\n4.06\\n$\\n3.72\\nDiluted\\n$\\n1.65\\n$\\n1.53\\n$\\n4.05\\n$\\n3.71\\nShares used in computing earnings per share:\\nBasic\\n14,994,082\\n15,405,856\\n15,037,903\\n15,457,810\\nDiluted\\n15,056,133\\n15,464,709\\n15,103,499\\n15,520,675\\nSee accompanying Notes to Condensed Consolidated Financial Statements.\\nApple Inc. | Q2 2025 Form 10-Q | 1\", \"pageNumber\": 4, \"excerpt\": \"95,359\", \"documentMetadata\": {\"documentId\": \"7655d55d-07d9-4486-bc41-c5f4f4e9830d\", \"documentCategory\": \"interim-report\", \"formType\": \"10-Q\", \"tickers\": [\"AAPL\"], \"companyName\": \"Apple Inc.\", \"date\": \"2025-05-02\", \"fiscalQuarter\": 2, \"fiscalYear\": 2025}}, \"#76550034\": {\"content\": \"### \\n\\nCONDENSED\\nCONSOLIDATED\\nSTATEMENTS OF\\nOPERATIONS (Unaudited) -\\nUSD ($)\\nshares in Thousands, $ in\\nMillions\\n3 Months Ended\\n6 Months Ended\\nMar. 29,\\n2025\\nMar. 30,\\n2024\\nMar. 29,\\n2025\\nMar. 30,\\n2024\\nNet sales\\n$ 95,359\\n$ 90,753\\n$ 219,659\\n$ 210,328\\nCost of sales\\n50,492\\n48,482\\n116,517\\n113,202\\nGross margin\\n44,867\\n42,271\\n103,142\\n97,126\\nOperating expenses:\\n  Research and development\\n8,550\\n7,903\\n16,818\\n15,599\\nSelling, general and administrative\\n6,728\\n6,468\\n13,903\\n13,254\\nTotal operating expenses\\n15,278\\n14,371\\n30,721\\n28,853\\nOperating income\\n29,589\\n27,900\\n72,421\\n68,273\\nOther income/(expense), net\\n(279)\\n158\\n(527)\\n108\\nIncome before provision for income taxes\\n29,310\\n28,058\\n71,894\\n68,381\\nProvision for income taxes\\n4,530\\n4,422\\n10,784\\n10,829\\nNet income\\n$ 24,780\\n$ 23,636\\n$ 61,110\\n$ 57,552\\nEarnings per share:\\n  Basic (in dollars per share)\\n$ 1.65\\n$ 1.53\\n$ 4.06\\n$ 3.72\\nDiluted (in dollars per share)\\n$ 1.65\\n$ 1.53\\n$ 4.05\\n$ 3.71\\nShares used in computing earnings per\\nshare:\\n  Basic (in shares)\\n14,994,082\\n15,405,856\\n15,037,903\\n15,457,810\\nDiluted (in shares)\\n15,056,133\\n15,464,709\\n15,103,499\\n15,520,675\\nProducts\\n  Net sales\\n$ 68,714\\n$ 66,886\\n$ 166,674\\n$ 163,344\\nCost of sales\\n44,030\\n42,424\\n103,477\\n100,864\\nServices\\n  Net sales\\n26,645\\n23,867\\n52,985\\n46,984\\nCost of sales\\n$ 6,462\\n$ 6,058\\n$ 13,040\\n$ 12,338\", \"pageNumber\": 35, \"excerpt\": \"Net sales $ 95,359 $ 90,753 $ 219,659 $ 210,328\", \"documentMetadata\": {\"documentId\": \"7655d55d-07d9-4486-bc41-c5f4f4e9830d\", \"documentCategory\": \"interim-report\", \"formType\": \"10-Q\", \"tickers\": [\"AAPL\"], \"companyName\": \"Apple Inc.\", \"date\": \"2025-05-02\", \"fiscalQuarter\": 2, \"fiscalYear\": 2025}}, \"#7bcd0008\": {\"content\": \"# Apple Inc. | Q1 2025 Form 10-Q | 6\\n\\n# \u00ae\\n\\n## \u00ae\\n\\n## \u00ae\\n\\n### Total net sales\\n$\\n124,300\\n$\\n119,575\\n\\nApple Inc.\\nNotes to Condensed Consolidated Financial Statements (Unaudited)\\nNote 1 \u2013 Summary of Significant Accounting Policies\\nBasis of Presentation and Preparation\\nThe condensed consolidated financial statements include the accounts of Apple Inc. and its wholly owned subsidiaries (collectively\\n\"Apple\" or the \"Company\"). In the opinion of the Company's management, the condensed consolidated financial statements reflect\\nall adjustments, which are normal and recurring in nature, necessary for fair financial statement presentation. The preparation of\\nthese condensed consolidated financial statements and accompanying notes in conformity with U.S. generally accepted accounting\\nprinciples (\"GAAP\") requires the use of management estimates. These condensed consolidated financial statements and\\naccompanying notes should be read in conjunction with the Company's annual consolidated financial statements and\\naccompanying notes included in its Annual Report on Form 10-K for the fiscal year ended September 28, 2024 (the \"2024 Form 10-\\nK\").\\nThe Company's fiscal year is the 52- or 53-week period that ends on the last Saturday of September. An additional week is included\\nin the first fiscal quarter every five or six years to realign the Company's fiscal quarters with calendar quarters. The Company's\\nfiscal years 2025 and 2024 span 52 weeks each. Unless otherwise stated, references to particular years, quarters, months and\\nperiods refer to the Company's fiscal years ended in September and the associated quarters, months and periods of those fiscal\\nyears.\\nNote 2 \u2013 Revenue\\nNet sales disaggregated by significant products and services for the three months ended December 28, 2024 and December 30,\\n2023 were as follows (in millions):\\nThree Months Ended\\nDecember 28,\\n2024\\nDecember 30,\\n2023\\niPhone\\n$\\n69,138\\n$\\n69,702\\nMac\\n8,987\\n7,780\\niPad\\n8,088\\n7,023\\nWearables, Home and Accessories\\n11,747\\n11,953\\nServices\\n26,340\\n23,117\\nTotal net sales\\n$\\n124,300\\n$\\n119,575\\nTotal net sales include $3.7 billion of revenue recognized in the three months ended December 28, 2024 that was included in\\ndeferred revenue as of September 28, 2024 and $3.5 billion of revenue recognized in the three months ended December 30, 2023\\nthat was included in deferred revenue as of September 30, 2023.\\nThe Company's proportion of net sales by disaggregated revenue source was generally consistent for each reportable segment in\\nNote 10, \"Segment Information and Geographic Data\" for the three months ended December 28, 2024 and December 30, 2023,\\nexcept in Greater China, where iPhone revenue represented a moderately higher proportion of net sales.\\nAs of December 28, 2024 and September 28, 2024, the Company had total deferred revenue of $13.2 billion and $12.8 billion,\\nrespectively. As of December 28, 2024, the Company expects 64% of total deferred revenue to be realized in less than a year, 25%\\nwithin one-to-two years, 9% within two-to-three years and 2% in greater than three years.\\n\u00ae\\n\u00ae\\n\u00ae\\nApple Inc. | Q1 2025 Form 10-Q | 6\", \"pageNumber\": 9, \"excerpt\": \"124,300\", \"documentMetadata\": {\"documentId\": \"7bcdbd06-6b2a-460d-9596-626b6bfded3a\", \"documentCategory\": \"interim-report\", \"formType\": \"10-Q\", \"tickers\": [\"AAPL\"], \"companyName\": \"Apple Inc.\", \"date\": \"2025-01-31\", \"fiscalQuarter\": 1, \"fiscalYear\": 2025}}, \"#2d6e0203\": {\"content\": \"Revenue - Net Sales\\nDisaggregated by\\nSignificant Products and\\nServices (Details) - USD ($)\\n$ in Millions\\n12 Months Ended\\nSep. 28, 2024\\nSep. 30, 2023\\nSep. 24, 2022\\nDisaggregation of Revenue [Line Items]\\n  Net sales\\n$ 391,035\\n$ 383,285\\n$ 394,328\\niPhone\\n  Disaggregation of Revenue [Line Items]\\n  Net sales\\n201,183\\n200,583\\n205,489\\nMac\\n  Disaggregation of Revenue [Line Items]\\n  Net sales\\n29,984\\n29,357\\n40,177\\niPad\\n  Disaggregation of Revenue [Line Items]\\n  Net sales\\n26,694\\n28,300\\n29,292\\nWearables, Home and Accessories\\n  Disaggregation of Revenue [Line Items]\\n  Net sales\\n37,005\\n39,845\\n41,241\\nServices\\n  Disaggregation of Revenue [Line Items]\\n  Net sales\\n$ 96,169\\n$ 85,200\\n$ 78,129\", \"pageNumber\": 204, \"excerpt\": \"Net sales $ 391,035 $ 383,285 $ 394,328\", \"documentMetadata\": {\"documentId\": \"2d6e24a5-080d-4ad4-a1d3-2975143c1e4b\", \"documentCategory\": \"annual-report\", \"formType\": \"10-K\", \"tickers\": [\"AAPL\"], \"companyName\": \"Apple Inc.\", \"date\": \"2024-11-01\", \"fiscalQuarter\": 4, \"fiscalYear\": 2024}}, \"#76550008\": {\"content\": \"# Apple Inc. | Q2 2025 Form 10-Q | 6\\n\\n# \u00ae\\n\\n# \u00ae\\n\\n# \u00ae\\n\\n# revenue as of the beginning of the period\\n$\\n3,672\\n$\\n3,282\\n$\\n5,440\\n$\\n5,135\\n\\nApple Inc.\\nNotes to Condensed Consolidated Financial Statements (Unaudited)\\nNote 1 \u2013 Summary of Significant Accounting Policies\\nBasis of Presentation and Preparation\\nThe condensed consolidated financial statements include the accounts of Apple Inc. and its wholly owned subsidiaries (collectively\\n\"Apple\" or the \"Company\"). In the opinion of the Company's management, the condensed consolidated financial statements reflect\\nall adjustments, which are normal and recurring in nature, necessary for fair financial statement presentation. The preparation of\\nthese condensed consolidated financial statements and accompanying notes in conformity with U.S. generally accepted accounting\\nprinciples (\"GAAP\") requires the use of management estimates. These condensed consolidated financial statements and\\naccompanying notes should be read in conjunction with the Company's annual consolidated financial statements and\\naccompanying notes included in its Annual Report on Form 10-K for the fiscal year ended September 28, 2024 (the \"2024 Form 10-\\nK\").\\nThe Company's fiscal year is the 52- or 53-week period that ends on the last Saturday of September. An additional week is included\\nin the first fiscal quarter every five or six years to realign the Company's fiscal quarters with calendar quarters. The Company's\\nfiscal years 2025 and 2024 span 52 weeks each. Unless otherwise stated, references to particular years, quarters, months and\\nperiods refer to the Company's fiscal years ended in September and the associated quarters, months and periods of those fiscal\\nyears.\\nNote 2 \u2013 Revenue\\nThe following table shows disaggregated net sales, as well as the portion of total net sales that was previously deferred, for the\\nthree- and six-month periods ended March 29, 2025 and March 30, 2024 (in millions):\\nThree Months Ended\\nSix Months Ended\\nMarch 29,\\n2025\\nMarch 30,\\n2024\\nMarch 29,\\n2025\\nMarch 30,\\n2024\\niPhone\\n$\\n46,841\\n$\\n45,963\\n$\\n115,979\\n$\\n115,665\\nMac\\n7,949\\n7,451\\n16,936\\n15,231\\niPad\\n6,402\\n5,559\\n14,490\\n12,582\\nWearables, Home and Accessories\\n7,522\\n7,913\\n19,269\\n19,866\\nServices\\n26,645\\n23,867\\n52,985\\n46,984\\nTotal net sales\\n$\\n95,359\\n$\\n90,753\\n$\\n219,659\\n$\\n210,328\\nPortion of total net sales that was included in deferred\\nrevenue as of the beginning of the period\\n$\\n3,672\\n$\\n3,282\\n$\\n5,440\\n$\\n5,135\\nThe Company's proportion of net sales by disaggregated revenue source was generally consistent for each reportable segment in\\nNote 10, \"Segment Information and Geographic Data\" for the three- and six-month periods ended March 29, 2025 and March 30,\\n2024, except in Greater China, where iPhone revenue represented a moderately higher proportion of net sales.\\nAs of March 29, 2025 and September 28, 2024, the Company had total deferred revenue of $13.6 billion and $12.8 billion,\\nrespectively. As of March 29, 2025, the Company expects 66% of total deferred revenue to be realized in less than a year, 24%\\nwithin one-to-two years, 9% within two-to-three years and 1% in greater than three years.\\n\u00ae\\n\u00ae\\n\u00ae\\nApple Inc. | Q2 2025 Form 10-Q | 6\", \"pageNumber\": 9, \"excerpt\": \"Services 26,645\", \"documentMetadata\": {\"documentId\": \"7655d55d-07d9-4486-bc41-c5f4f4e9830d\", \"documentCategory\": \"interim-report\", \"formType\": \"10-Q\", \"tickers\": [\"AAPL\"], \"companyName\": \"Apple Inc.\", \"date\": \"2025-05-02\", \"fiscalQuarter\": 2, \"fiscalYear\": 2025}}, \"#2d6e0034\": {\"content\": \"## Apple Inc. | 2024 Form 10-K | 29\\n\\n## See accompanying Notes to Consolidated Financial Statements.\\n\\n## Basic\\n15,343,783\\n15,744,231\\n16,215,963\\nDiluted\\n15,408,095\\n15,812,547\\n16,325,819\\n\\n## Shares used in computing earnings per share:\\n\\n### Basic\\n$\\n6.11\\n$\\n6.16\\n$\\n6.15\\nDiluted\\n$\\n6.08\\n$\\n6.13\\n$\\n6.11\\n\\nApple Inc.\\nCONSOLIDATED STATEMENTS OF OPERATIONS\\n(In millions, except number of shares, which are reflected in thousands, and per-share amounts)\\nYears ended\\nSeptember 28,\\n2024\\nSeptember 30,\\n2023\\nSeptember 24,\\n2022\\nNet sales:\\n  Products\\n$\\n294,866\\n$\\n298,085\\n$\\n316,199\\n  Services\\n96,169\\n85,200\\n78,129\\nTotal net sales\\n391,035\\n383,285\\n394,328\\nCost of sales:\\n  Products\\n185,233\\n189,282\\n201,471\\n  Services\\n25,119\\n24,855\\n22,075\\nTotal cost of sales\\n210,352\\n214,137\\n223,546\\nGross margin\\n180,683\\n169,148\\n170,782\\nOperating expenses:\\nResearch and development\\n31,370\\n29,915\\n26,251\\nSelling, general and administrative\\n26,097\\n24,932\\n25,094\\nTotal operating expenses\\n57,467\\n54,847\\n51,345\\nOperating income\\n123,216\\n114,301\\n119,437\\nOther income/(expense), net\\n269\\n(565)\\n(334)\\nIncome before provision for income taxes\\n123,485\\n113,736\\n119,103\\nProvision for income taxes\\n29,749\\n16,741\\n19,300\\nNet income\\n$\\n93,736\\n$\\n96,995\\n$\\n99,803\\nEarnings per share:\\nBasic\\n$\\n6.11\\n$\\n6.16\\n$\\n6.15\\nDiluted\\n$\\n6.08\\n$\\n6.13\\n$\\n6.11\\nShares used in computing earnings per share:\\nBasic\\n15,343,783\\n15,744,231\\n16,215,963\\nDiluted\\n15,408,095\\n15,812,547\\n16,325,819\\nSee accompanying Notes to Consolidated Financial Statements.\\nApple Inc. | 2024 Form 10-K | 29\", \"pageNumber\": 35, \"excerpt\": \"Total net sales 391,035 383,285 394,328\", \"documentMetadata\": {\"documentId\": \"2d6e24a5-080d-4ad4-a1d3-2975143c1e4b\", \"documentCategory\": \"annual-report\", \"formType\": \"10-K\", \"tickers\": [\"AAPL\"], \"companyName\": \"Apple Inc.\", \"date\": \"2024-11-01\", \"fiscalQuarter\": 4, \"fiscalYear\": 2024}}}}}}\n\nevent: done\ndata: {}\n\n# Example with warning:\nevent: message\ndata: {\"type\": \"warning\", \"message\": \"No documents found for this query.\"}\n\nevent: done\ndata: {}\n\n"
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/documents": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get Document",
        "description": "**DEPRECATED**: This endpoint is deprecated and should not be used directly.\n\nRetrieves a source document for display in the frontend.\n\nNOTE: Consuming applications should NOT use this endpoint directly. Instead, they should \nuse the `sourceLink` URLs returned by other endpoints (like `/rag/agent-query-stream` or `/rag/chunks`).\nThis endpoint is documented here purely for reference purposes.\n\nThis endpoint is designed to be called when a consuming application has received\na response containing a `sourceLink` from other endpoints (like `/rag/agent-query-stream` \nor `/rag/chunks`). It returns the full HTML content and metadata of the referenced \ndocument for display and highlighting in the frontend.\n\nSupported document types:\n- SEC filings (10-K, 10-Q)\n- International SEC filings (20-F, 40-F, 6-K)\n- 8-K documents (with embedded images)\n- Earnings call transcripts\n- Proxy statements (DEF 14A, DEFM14A, DEF 14C, DEFM14C, etc.)\n- Investor relations (IR) documents (PDF and XLSX files)",
        "operationId": "get_document_api_v1_documents_get",
        "deprecated": true,
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "sourceType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Type of document (10-K, 10-Q, 8-K, 20-F, 40-F, 6-K, transcript, DEF 14A, DEFM14A, DEF 14C, S-1, ir)",
              "title": "Sourcetype"
            },
            "description": "Type of document (10-K, 10-Q, 8-K, 20-F, 40-F, 6-K, transcript, DEF 14A, DEFM14A, DEF 14C, S-1, ir)"
          },
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "UUID of the document",
              "title": "Documentid"
            },
            "description": "UUID of the document"
          },
          {
            "name": "fileType",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "For IR documents: file type (pdf, xlsx) - optional, will be retrieved from database if not provided",
              "title": "Filetype"
            },
            "description": "For IR documents: file type (pdf, xlsx) - optional, will be retrieved from database if not provided"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/HTMLDocumentResponse"
                    },
                    {
                      "$ref": "#/components/schemas/BlobDocumentResponse"
                    }
                  ],
                  "title": "Response Get Document Api V1 Documents Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/rag/agent-query-stream": {
      "post": {
        "tags": [
          "Retrieval Augmented Generation"
        ],
        "summary": "Agent Query Stream",
        "description": "Stream a response to a query in a simple markdown format.\n\nThis endpoint provides a simplified streaming response:\n1. First, it streams the ID mapping for source linking\n2. Then it streams raw markdown content as it comes from the LLM\n\nThe client only needs to concatenate the markdown chunks to get the full document,\nand can use the ID mapping to resolve citations to their sources.\n\nRequest body:\n- **query**: The query to ask the agent (required)\n- **tickers**: Optional list of ticker symbols to filter documents by\n- **sourceType**: Optional source type(s) to include (available options: '10-K', '10-Q', '8-K', '20-F', '40-F', '6-K', 'transcript', 'DEF 14A', etc.).\n                 Can be a single string or a list of strings.\n- **startDate**: Optional start date for document filtering (format: YYYY-MM-DD)\n- **endDate**: Optional end date for document filtering (format: YYYY-MM-DD)\n- **sourceLink**: Optional source link(s) to search within. Can be a single string or a list of strings.\n                 No other documents will be queried by the agent but these. Use to \n                 restrict the search to user-selected documents.\n\nReturns a streaming response with these event types:\n- 'id_mapping': A mapping of IDs to source links for citation resolution\n  ```\n  {\n    \"type\": \"id_mapping\",\n    \"mapping\": {\n      \"#uuid1234\": {\n        \"sourceLink\": \"http://rest-api.captide.co/document?id=12345678\",\n        \"sourceMetadata\": {\n          \"sourceType\": \"10-K\",\n          \"ticker\": \"AAPL\",\n          \"date\": \"2024-01-01\",\n          \"fiscalPeriod\": \"FY 2023\",\n          \"documentId\": \"12345678\"\n        }\n      }\n    }\n  }\n  ```\n\n- 'markdown_chunk': A chunk of markdown text\n  ```\n  {\n    \"type\": \"markdown_chunk\",\n    \"content\": \"This is a part of the markdown response with a citation [#uuid1234].\"\n  }\n  ```\n\n- 'warning': Notification when requested information is not found\n  ```\n  {\n    \"type\": \"warning\",\n    \"message\": \"Could not find information about X in the provided documents.\"\n  }\n  ```\n\n- 'done': Signals the end of the stream\n  ```\n  {\n    \"type\": \"done\"\n  }\n  ```\n\n- 'error': Error information if something goes wrong\n  ```\n  {\n    \"type\": \"error\",\n    \"detail\": \"An error occurred while processing the request.\"\n  }\n  ```\n\nClient implementation recommendations:\n1. First process the 'id_mapping' event to obtain source information for citations\n2. Then accumulate all 'markdown_chunk' events to build the complete response\n3. Display warnings to the user when 'warning' events are received\n4. When a 'done' event is received, the response is complete\n5. Use the ID mapping to create clickable citations in the rendered markdown\n\nIntegration with document search:\nThe 'sourceLink' parameter can be used in conjunction with the document search endpoint to:\n1. Let users search and select specific documents they want to analyze\n2. Then pass those document IDs to this endpoint to ensure the AI only references those selected documents\n3. This creates a more user-controlled research experience where they can direct the AI to specific filings",
        "operationId": "agent_query_stream_api_v1_rag_agent_query_stream_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Root",
        "description": "Health check endpoint.",
        "operationId": "root__get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentRequest": {
        "properties": {
          "query": {
            "type": "string",
            "title": "Query",
            "description": "The natural language query"
          },
          "tickers": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tickers",
            "description": "List of ticker symbols to filter by"
          },
          "startDate": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Startdate",
            "description": "Start date for filtering (YYYY-MM-DD)"
          },
          "endDate": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Enddate",
            "description": "End date for filtering (YYYY-MM-DD)"
          },
          "sourceTypes": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sourcetypes",
            "description": "List of source types to filter by"
          },
          "sourceLinks": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sourcelinks",
            "description": "List of specific source links to use"
          },
          "secOnly": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Seconly",
            "description": "Whether to use only SEC documents",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "query"
        ],
        "title": "AgentRequest",
        "description": "Request model for agent queries."
      },
      "AgentResponse": {
        "properties": {
          "content": {
            "type": "string",
            "title": "Content",
            "description": "The agent's response in markdown format"
          },
          "sourceMap": {
            "additionalProperties": {
              "$ref": "#/components/schemas/Chunk"
            },
            "type": "object",
            "title": "Sourcemap",
            "description": "Mapping of citation reference IDs to chunk metadata"
          }
        },
        "type": "object",
        "required": [
          "content",
          "sourceMap"
        ],
        "title": "AgentResponse",
        "description": "Response model for agent queries."
      },
      "BlobDocumentResponse": {
        "properties": {
          "ticker": {
            "type": "string",
            "title": "Ticker",
            "description": "Company ticker symbol"
          },
          "companyName": {
            "type": "string",
            "title": "Companyname",
            "description": "Name of the company"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Metadata",
            "description": "Additional document metadata"
          },
          "sourceType": {
            "$ref": "#/components/schemas/BlobDocumentType",
            "description": "Type of blob document"
          },
          "sasUrl": {
            "type": "string",
            "title": "Sasurl",
            "description": "SAS URL for direct access to the document in blob storage"
          },
          "fileType": {
            "$ref": "#/components/schemas/IRFileType",
            "description": "File type (pdf, xlsx)"
          },
          "fileName": {
            "type": "string",
            "title": "Filename",
            "description": "File name of the document"
          },
          "contentType": {
            "type": "string",
            "title": "Contenttype",
            "description": "MIME type of the document"
          },
          "date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date",
            "description": "Document date (filing date or transcript date)"
          },
          "fiscalPeriod": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fiscalperiod",
            "description": "Fiscal period of the document"
          }
        },
        "type": "object",
        "required": [
          "ticker",
          "companyName",
          "sourceType",
          "sasUrl",
          "fileType",
          "fileName",
          "contentType"
        ],
        "title": "BlobDocumentResponse",
        "description": "Response model for blob storage documents (PDFs, XLSX files, etc.)."
      },
      "BlobDocumentType": {
        "type": "string",
        "enum": [
          "ir"
        ],
        "title": "BlobDocumentType"
      },
      "Chunk": {
        "properties": {
          "content": {
            "type": "string",
            "title": "Content",
            "description": "Plain text content of the entire chunk"
          },
          "pageNumber": {
            "type": "integer",
            "title": "Pagenumber",
            "description": "Page number in the document"
          },
          "excerpt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Excerpt",
            "description": "Specific part of the chunk that the agent used to answer the user's question. Used for source linking and highlighting."
          },
          "documentMetadata": {
            "$ref": "#/components/schemas/SourceDocument",
            "description": "Metadata for the chunk's document"
          }
        },
        "type": "object",
        "required": [
          "content",
          "pageNumber",
          "documentMetadata"
        ],
        "title": "Chunk",
        "description": "A chunk of document content with metadata."
      },
      "ChunksResponse": {
        "properties": {
          "relevantChunks": {
            "items": {
              "$ref": "#/components/schemas/Chunk"
            },
            "type": "array",
            "title": "Relevantchunks",
            "description": "List of relevant document chunks"
          }
        },
        "type": "object",
        "required": [
          "relevantChunks"
        ],
        "title": "ChunksResponse",
        "description": "Response model for chunk search results."
      },
      "CompanyListResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Company ID"
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Company name"
          },
          "tickers": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Tickers",
            "description": "List of ticker symbols with exchange suffixes (e.g., 'AAPL', 'ITX.MC')"
          },
          "countries": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Countries",
            "description": "List of country ISO2 codes"
          },
          "filesWithSec": {
            "type": "boolean",
            "title": "Fileswithsec",
            "description": "Whether company files with SEC"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "tickers",
          "countries",
          "filesWithSec"
        ],
        "title": "CompanyListResponse",
        "description": "Response model for company list results."
      },
      "DocumentCategory": {
        "type": "string",
        "enum": [
          "annual-report",
          "interim-report",
          "supplemental-financial-information",
          "earnings-release",
          "current-report",
          "shareholder-meetings-notice",
          "earnings-call-slides",
          "special-events-slides",
          "earnings-call-transcript",
          "sustainability-report",
          "initial-registration-statement",
          "follow-on-registration-statement",
          "merger-registration-statement",
          "compensation-registration-statement",
          "tender-offer-statement",
          "going-private-statement",
          "insider-shares-transactions",
          "other"
        ],
        "title": "DocumentCategory",
        "description": "Enum for document categories with their descriptions."
      },
      "DocumentListResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Document ID"
          },
          "documentCategory": {
            "$ref": "#/components/schemas/DocumentCategory",
            "description": "Category of document\n\n**Available categories:**\n- `annual-report`: Comprehensive yearly financial and business performance disclosures, including audited financials, management discussion (MD&A), risks, and governance.\n- `interim-report`: Formal financial reports for part of the fiscal year (e.g., quarterly or semiannual), featuring detailed statements, footnotes, and regulatory sections.\n- `supplemental-financial-information`: Financial data supplements offering KPIs, segment metrics, reconciliations, or historical comparisons\u2014without replacing formal filings.\n- `earnings-release`: Early look at key quarterly or annual results via press releases; includes revenue, earnings, and performance highlights before full reports.\n- `current-report`: Time-sensitive updates on material events like M&A, leadership changes, legal issues, or strategic decisions.\n- `shareholder-meetings-notice`: Notices and materials related to shareholder meetings, including voting items like director elections or executive compensation.\n- `earnings-call-slides`: Visual summaries of quarterly or annual results used during earnings calls; highlight financial performance and management commentary.\n- `special-events-slides`: Presentation decks from investor-focused events (e.g., Investor Day), covering long-term strategy, business updates, and outlooks.\n- `earnings-call-transcript`: Written transcripts of earnings calls with executive commentary and analyst Q&A sessions.\n- `sustainability-report`: Reports focused on environmental, social, and governance (ESG) topics including climate initiatives, diversity, and social responsibility.\n- `initial-registration-statement`: Full disclosure filings for first-time public offerings (e.g., IPOs), including company details, risk factors, and use of proceeds.\n- `follow-on-registration-statement`: Streamlined filings for public companies issuing additional securities, often under a shelf registration.\n- `merger-registration-statement`: Disclosures related to securities issued in mergers, acquisitions, or similar deals, often including proxy materials.\n- `compensation-registration-statement`: Filings for securities issued under employee stock or equity compensation plans.\n- `tender-offer-statement`: Public share offer disclosures for buybacks, takeovers, or third-party acquisitions, detailing terms and pricing.\n- `going-private-statement`: Disclosures related to transactions that delist a company and make it privately held, including fairness assessments for shareholders.\n- `insider-shares-transactions`: Reports of share dealings by executives, directors, or major shareholders to promote transparency and deter insider trading.\n- `other`: Any disclosure that does not clearly match the defined categories above."
          },
          "formType": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/FormType"
              },
              {
                "type": "null"
              }
            ],
            "description": "Form type for SEC filings"
          },
          "tickers": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Tickers",
            "description": "List of ticker symbols with exchange suffixes (e.g., 'AAPL', 'ITX.MC')"
          },
          "companyName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Companyname",
            "description": "Company name"
          },
          "date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date",
            "description": "Document date"
          },
          "fiscalQuarter": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fiscalquarter",
            "description": "Fiscal quarter (1-4)"
          },
          "fiscalYear": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fiscalyear",
            "description": "Fiscal year"
          },
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Title",
            "description": "Document title"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Document description"
          }
        },
        "type": "object",
        "required": [
          "id",
          "documentCategory",
          "tickers"
        ],
        "title": "DocumentListResponse",
        "description": "Response model for document list results."
      },
      "DocumentResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Document ID"
          },
          "documentCategory": {
            "$ref": "#/components/schemas/DocumentCategory",
            "description": "Category of document\n\n**Available categories:**\n- `annual-report`: Comprehensive yearly financial and business performance disclosures, including audited financials, management discussion (MD&A), risks, and governance.\n- `interim-report`: Formal financial reports for part of the fiscal year (e.g., quarterly or semiannual), featuring detailed statements, footnotes, and regulatory sections.\n- `supplemental-financial-information`: Financial data supplements offering KPIs, segment metrics, reconciliations, or historical comparisons\u2014without replacing formal filings.\n- `earnings-release`: Early look at key quarterly or annual results via press releases; includes revenue, earnings, and performance highlights before full reports.\n- `current-report`: Time-sensitive updates on material events like M&A, leadership changes, legal issues, or strategic decisions.\n- `shareholder-meetings-notice`: Notices and materials related to shareholder meetings, including voting items like director elections or executive compensation.\n- `earnings-call-slides`: Visual summaries of quarterly or annual results used during earnings calls; highlight financial performance and management commentary.\n- `special-events-slides`: Presentation decks from investor-focused events (e.g., Investor Day), covering long-term strategy, business updates, and outlooks.\n- `earnings-call-transcript`: Written transcripts of earnings calls with executive commentary and analyst Q&A sessions.\n- `sustainability-report`: Reports focused on environmental, social, and governance (ESG) topics including climate initiatives, diversity, and social responsibility.\n- `initial-registration-statement`: Full disclosure filings for first-time public offerings (e.g., IPOs), including company details, risk factors, and use of proceeds.\n- `follow-on-registration-statement`: Streamlined filings for public companies issuing additional securities, often under a shelf registration.\n- `merger-registration-statement`: Disclosures related to securities issued in mergers, acquisitions, or similar deals, often including proxy materials.\n- `compensation-registration-statement`: Filings for securities issued under employee stock or equity compensation plans.\n- `tender-offer-statement`: Public share offer disclosures for buybacks, takeovers, or third-party acquisitions, detailing terms and pricing.\n- `going-private-statement`: Disclosures related to transactions that delist a company and make it privately held, including fairness assessments for shareholders.\n- `insider-shares-transactions`: Reports of share dealings by executives, directors, or major shareholders to promote transparency and deter insider trading.\n- `other`: Any disclosure that does not clearly match the defined categories above."
          },
          "formType": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/FormType"
              },
              {
                "type": "null"
              }
            ],
            "description": "Form type in the case the documents is an SEC filing (e.g., 10-K, 10-Q)"
          },
          "tickers": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Tickers",
            "description": "List of ticker symbols with exchange suffixes (e.g., 'AAPL', 'ITX.MC')"
          },
          "companyName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Companyname",
            "description": "Company name"
          },
          "date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date",
            "description": "Document date"
          },
          "fiscalQuarter": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fiscalquarter",
            "description": "Fiscal quarter (1-4)"
          },
          "fiscalYear": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fiscalyear",
            "description": "Fiscal year"
          },
          "originalFileUrl": {
            "type": "string",
            "title": "Originalfileurl",
            "description": "URL to the original document file"
          },
          "markdownFileUrl": {
            "type": "string",
            "title": "Markdownfileurl",
            "description": "URL to the markdown version of the document"
          }
        },
        "type": "object",
        "required": [
          "id",
          "documentCategory",
          "tickers",
          "originalFileUrl",
          "markdownFileUrl"
        ],
        "title": "DocumentResponse",
        "description": "Response model for document retrieval by ID."
      },
      "ErrorResponse": {
        "properties": {
          "detail": {
            "type": "string",
            "title": "Detail"
          }
        },
        "type": "object",
        "required": [
          "detail"
        ],
        "title": "ErrorResponse",
        "description": "Standard error response model for all API endpoints."
      },
      "FormType": {
        "type": "string",
        "enum": [
          "10-K",
          "10-Q",
          "8-K",
          "6-K",
          "20-F",
          "40-F",
          "S-1",
          "F-1",
          "S-3",
          "F-3",
          "S-4",
          "F-4",
          "S-8",
          "F-8",
          "DEF 14A",
          "DEFA14A",
          "DEFM14A",
          "DEF 14C",
          "DEFM14C",
          "DEFA14C"
        ],
        "title": "FormType"
      },
      "HTMLDocumentResponse": {
        "properties": {
          "ticker": {
            "type": "string",
            "title": "Ticker",
            "description": "Company ticker symbol"
          },
          "companyName": {
            "type": "string",
            "title": "Companyname",
            "description": "Name of the company"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Metadata",
            "description": "Additional document metadata"
          },
          "sourceType": {
            "$ref": "#/components/schemas/HTMLDocumentType",
            "description": "Type of HTML document"
          },
          "htmlContent": {
            "type": "string",
            "title": "Htmlcontent",
            "description": "HTML content of the document for display"
          },
          "date": {
            "type": "string",
            "title": "Date",
            "description": "Document date (filing date or transcript date)"
          },
          "fiscalPeriod": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fiscalperiod",
            "description": "Fiscal period of the document"
          }
        },
        "type": "object",
        "required": [
          "ticker",
          "companyName",
          "sourceType",
          "htmlContent",
          "date"
        ],
        "title": "HTMLDocumentResponse",
        "description": "Response model for HTML-based documents (SEC filings, transcripts, etc.)."
      },
      "HTMLDocumentType": {
        "type": "string",
        "enum": [
          "10-K",
          "10-Q",
          "8-K",
          "20-F",
          "40-F",
          "6-K",
          "S-1",
          "DEF 14A",
          "DEFM14A",
          "DEF 14C",
          "DEFM14C",
          "transcript"
        ],
        "title": "HTMLDocumentType"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "IRFileType": {
        "type": "string",
        "enum": [
          "pdf",
          "xlsx"
        ],
        "title": "IRFileType"
      },
      "SourceDocument": {
        "properties": {
          "documentId": {
            "type": "string",
            "title": "Documentid",
            "description": "Unique identifier for the document in the database"
          },
          "documentCategory": {
            "$ref": "#/components/schemas/DocumentCategory",
            "description": "Document category code (e.g. annual-report, earnings-call-transcript, etc.)"
          },
          "formType": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/FormType"
              },
              {
                "type": "null"
              }
            ],
            "description": "SEC form type (e.g. 10-K, 10-Q, 8-K, etc.)"
          },
          "date": {
            "type": "string",
            "title": "Date",
            "description": "Document date (filing_date or transcript_date)"
          },
          "description": {
            "type": "string",
            "title": "Description",
            "description": "Description of the document"
          },
          "fiscalQuarter": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fiscalquarter",
            "description": "Fiscal quarter of the document"
          },
          "fiscalYear": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fiscalyear",
            "description": "Fiscal year of the document"
          },
          "companyName": {
            "type": "string",
            "title": "Companyname",
            "description": "Company name"
          },
          "tickers": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Tickers",
            "description": "Ticker for the company"
          },
          "metadata": {
            "anyOf": [
              {
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Metadata",
            "description": "Additional metadata for the document"
          }
        },
        "type": "object",
        "required": [
          "documentId",
          "documentCategory",
          "date",
          "description",
          "companyName",
          "tickers"
        ],
        "title": "SourceDocument",
        "description": "Source document metadata model."
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    },
    "securitySchemes": {
      "APIKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}